In [94]:
#Brought in libraries and packages needed 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [95]:
#Getting URL that is to be used for scraping 
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [96]:
#print(soup)

In [97]:
#soup.find_all('table')[1]

In [98]:

#soup.find_all('table',class_ = 'wikitable sortable')

In [99]:
# found the specific table we wanted to use from the website
table = soup.find_all('table')[1]

In [100]:
#print(table)

In [101]:
#made the mistake of using soups to rather than tables. This led to us not being able to pull the specfic data we wanted.
world_titles = table.find_all('th')

In [102]:
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [103]:
world_table_titles = [title.text.strip() for title in world_titles]

In [104]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [113]:
#put our table columns into the data frame using pandas 
df = pd.DataFrame(columns = world_table_titles)

#this prints what is contained in the data frame
#df

In [114]:
#this assigns the data from the tables we want to use to the data variable
column_data = table.find_all('tr')

In [115]:
#for each row in the table take the text only from that row, then based off the length and rows left it adds it to our dataframe
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [116]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [118]:
#Exported the new table to a CSV file using pandas
df.to_csv(r'C:\Users\samue\OneDrive\Desktop\Python Tutorial\Python WebScraping\Companies2.csv', index = False)